<%= error_messages_for(f.object) %>

<table summary="Subject input table">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th>Position</th>
    <td><%= f.number_field(:position) %></td>
  </tr>
  <tr>
    <th><%= f.label(:visible)%></th>
    <td>Visible: <%= f.radio_button(:visible, true) %> Hidden: <%= f.radio_button(:visible, false) %></td>
  </tr>
</table>
