<% content_for(:head_title) { "Subjects List" }%>

<div class="">
  <div id="subjects-navbar" class="flex flex-row justify-between content-center">
    <p class="text-2xl">All Subjects</p>
    <%= link_to("Add Subject", new_subject_path, :class => 'action new', :role=> 'button')%>      
  </div>
</div>

<div class="">
  <table class="table-auto" summary="Subjects List">
    <tr class="header">
      <th class="w-2">#</th>
      <th>Subject</th>
      <th class="w-2">Visible</th>
      <th>Pages</th>
      <th>Actions</th>
    </tr>
  <% @subjects.each do |subject| %>
    <tr>
      <td><%= subject.position %></td>
      <td><%= subject.name %></td>
      <td class="center"><%= status_tag(subject.visible, { true_text: 'Yes', false_text: 'No' }) %></td>
      <td class="center"><%= subject.pages.size %> <%= pluralize(subject.pages.size, 'Page') %></td>
      <td class="center">
        <%= link_to("Show", subject_path(subject), :class => 'action show') %>
        <%= link_to("Edit", edit_subject_path(subject), :class => 'action edit') %>
        <%= link_to("Delete", subject_path(subject), method: :delete, :class => 'action delete') %>
      </td>
    </tr>
  <% end %>
  </table>
</div>